.m-btn {
    height: 36px;
    border-radius: 4px;
    padding: 0 16px;
    border: none;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    color: var(--white-color);
    display: flex;
    align-items: center;
    &:hover {
        background-color: var(--primary-hover-color);
        cursor: pointer;
    }
    &:focus {
        background-color: var(--primary-focus-color);
        cursor: pointer;
    }
}

.m-btn-extra {
    background-color: var(--extra-color);
    cursor: pointer;
    color: var(--black-color);
    border: 1px solid var(--border-button-extra-color);
    font-weight: 500;
    font-size: 14;
    &:hover {
        background-color: var(--extra-hover-color);
    }
    &:focus {
        background-color: var( --extra-focus-color);
    }
}