.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group label {
    padding-bottom: 8px;
    font-weight: 700;
}

.form-group .error_text {
    position: absolute;
    top: calc(100% + 4px) !important;
    color: var(--red-color);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
}